In [1]:
import pandas as pd
import numpy as np
import pandas_profiling

#Import libs
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.ticker as mticker
%matplotlib inline

import seaborn as sns

import plotly.express as px
import plotly.graph_objects as go

print("Setup Complete")

Setup Complete

In [2]:
#Data Load
#-------------- Kaggle 2020 ---------------------
kaggle2020File = "2020_kaggle_survey_2020_responses.csv"
kaggle2020 = pd.read_csv(kaggle2020File, low_memory=False)
descriptions = kaggle2020.loc[0:1,:]
df = kaggle2020.loc[1:,:]

print('Data Loaded')
pd.set_option('display.max_columns', None)

Data Loaded

In [3]:
figtext_arg = dict(
            horizontalalignment='center',
            fontsize=12,
            wrap=True,
            alpha=0.65
)

In [4]:
columns = list(range(1,20))

In [5]:
columns += list(range(53,94))
columns += [107,108,118,119,243]

In [6]:
# columns

In [7]:
kaggle2020 = df.iloc[:,columns]

In [8]:
# kaggle2020.head()

In [9]:
# df.columns

In [10]:
## Data preparation 2020

#Single choice questions
single = ['Q1','Q2','Q3','Q4','Q5','Q6','Q15', 'Q20', 'Q21', 'Q24','Q25','Q38']

#Multiple choice questions
multi = ['Q7', 'Q14', 'Q16', 'Q17','Q23']

selected_columns = single

for m in multi:
    i = 1
    while True:
        qPart = (m+"_Part_"+str(i))
        if qPart not in kaggle2020.columns:
            break
        selected_columns.append(qPart)
        i = i+1
    if m+"_OTHER" in kaggle2020.columns:
        selected_columns.append(m+"_OTHER")

kaggle2020 = kaggle2020.loc[:,selected_columns]
kaggle2020.rename(
    columns={
        "Q1":"Age", 
        "Q2":"Gender", 
        "Q3":"Country", 
        "Q4":"Education Level", 
        "Q5":"Role", 
        "Q6":"Programming Experience", 
        "Q15":"ML Experience", 
        "Q20":"Company Size", 
        "Q21":"Company Data Scientists", 
        "Q24":"Yearly Compensation",
        "Q25":"Spent Money (5years)",
        "Q38":"Primary Tool"
    }, inplace=True)
#kaggle2020 = kaggle2020.loc[(kaggle2020.Role.isin(['Data Scientist','Student']))]
print("Kaggle 2020 data loaded")

Kaggle 2020 data loaded

## 원핫 인코딩

In [15]:
pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', 100)
pd.Series(list(kaggle2020.columns))

0                         Age
1                      Gender
2                     Country
3             Education Level
4                        Role
5      Programming Experience
6               ML Experience
7                Company Size
8     Company Data Scientists
9         Yearly Compensation
10       Spent Money (5years)
11               Primary Tool
12                  Q7_Part_1
13                  Q7_Part_2
14                  Q7_Part_3
15                  Q7_Part_4
16                  Q7_Part_5
17                  Q7_Part_6
18                  Q7_Part_7
19                  Q7_Part_8
20                  Q7_Part_9
21                 Q7_Part_10
22                 Q7_Part_11
23                 Q7_Part_12
24                   Q7_OTHER
25                 Q14_Part_1
26                 Q14_Part_2
27                 Q14_Part_3
28                 Q14_Part_4
29                 Q14_Part_5
30                 Q14_Part_6
31                 Q14_Part_7
32                 Q14_Part_8
33                 Q14_Part_9
34                Q14_Part_10
35                Q14_Part_11
36                  Q14_OTHER
37                 Q16_Part_1
38                 Q16_Part_2
39                 Q16_Part_3
40                 Q16_Part_4
41                 Q16_Part_5
42                 Q16_Part_6
43                 Q16_Part_7
44                 Q16_Part_8
45                 Q16_Part_9
46                Q16_Part_10
47                Q16_Part_11
48                Q16_Part_12
49                Q16_Part_13
50                Q16_Part_14
51                Q16_Part_15
52                  Q16_OTHER
53                 Q17_Part_1
54                 Q17_Part_2
55                 Q17_Part_3
56                 Q17_Part_4
57                 Q17_Part_5
58                 Q17_Part_6
59                 Q17_Part_7
60                 Q17_Part_8
61                 Q17_Part_9
62                Q17_Part_10
63                Q17_Part_11
64                  Q17_OTHER
65             # of Languages
66          # of Visual tools
67         # of ML frameworks
68         # of ML algorithms
dtype: object

In [12]:
def onehotEncoder(new_col_name, start, end):
    encode = pd.get_dummies(kaggle2020.iloc[:,start:end])

    kaggle2020[new_col_name] = encode.apply(sum, axis=1)

In [13]:
onehotEncoder('# of Languages', 12, 25)  #Number of available languages
onehotEncoder('# of Visual tools', 25, 37)  #Number of available Visualization tools
onehotEncoder('# of ML frameworks', 37, 53)  #Number of available ML frameworks
onehotEncoder('# of ML algorithms', 53, 65)  #Number of available ML algorithms

In [14]:
kaggle2020.head()

,Age,Gender,Country,Education Level,Role,Programming Experience,ML Experience,Company Size,Company Data Scientists,Yearly Compensation,Spent Money (5years),Primary Tool,Q7_Part_1,Q7_Part_2,Q7_Part_3,Q7_Part_4,Q7_Part_5,Q7_Part_6,Q7_Part_7,Q7_Part_8,Q7_Part_9,Q7_Part_10,Q7_Part_11,Q7_Part_12,Q7_OTHER,Q14_Part_1,Q14_Part_2,Q14_Part_3,Q14_Part_4,Q14_Part_5,Q14_Part_6,Q14_Part_7,Q14_Part_8,Q14_Part_9,Q14_Part_10,Q14_Part_11,Q14_OTHER,Q16_Part_1,Q16_Part_2,Q16_Part_3,Q16_Part_4,Q16_Part_5,Q16_Part_6,Q16_Part_7,Q16_Part_8,Q16_Part_9,Q16_Part_10,Q16_Part_11,Q16_Part_12,Q16_Part_13,Q16_Part_14,Q16_Part_15,Q16_OTHER,Q17_Part_1,Q17_Part_2,Q17_Part_3,Q17_Part_4,Q17_Part_5,Q17_Part_6,Q17_Part_7,Q17_Part_8,Q17_Part_9,Q17_Part_10,Q17_Part_11,Q17_OTHER,# of Languages,# of Visual tools,# of ML frameworks,# of ML algorithms
1,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,1-2 years,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G...",Python,R,SQL,C,NaN,NaN,Javascript,NaN,NaN,NaN,MATLAB,NaN,Other,Matplotlib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Geoplotlib,NaN,NaN,NaN,NaN,TensorFlow,Keras,NaN,NaN,NaN,Xgboost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decision Trees or Random Forests,"Gradient Boosting Machines (xgboost, lightgbm,...",Bayesian Approaches,NaN,"Dense Neural Networks (MLPs, etc)",Convolutional Neural Networks,NaN,Recurrent Neural Networks,NaN,NaN,NaN,7,2,3,6
2,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,1-2 years,"10,000 or more employees",20+,"100,000-124,999","$100,000 or more ($USD)","Business intelligence software (Salesforce, Ta...",Python,R,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matplotlib,Seaborn,NaN,Ggplot / ggplot2,Shiny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Scikit-learn,TensorFlow,Keras,PyTorch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linear or Logistic Regression,NaN,NaN,NaN,NaN,NaN,Convolutional Neural Networks,NaN,NaN,"Transformer Networks (BERT, gpt-3, etc)",NaN,NaN,3,4,4,3
3,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,I do not use machine learning methods,"1000-9,999 employees",0,"15,000-19,999",$0 ($USD),"Basic statistical software (Microsoft Excel, G...",NaN,NaN,NaN,NaN,NaN,Java,Javascript,NaN,NaN,Bash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D3 js,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,0,0
4,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,3-4 years,250-999 employees,5-9,"125,000-149,999","$10,000-$99,999","Local development environments (RStudio, Jupyt...",Python,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,Bash,NaN,NaN,NaN,Matplotlib,Seaborn,Plotly / Plotly Express,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Scikit-learn,TensorFlow,Keras,NaN,NaN,NaN,Xgboost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linear or Logistic Regression,Decision Trees or Random Forests,"Gradient Boosting Machines (xgboost, lightgbm,...",Bayesian Approaches,NaN,"Dense Neural Networks (MLPs, etc)",NaN,NaN,NaN,NaN,NaN,NaN,3,3,4,5
5,30-34,Man,Japan,Master’s degree,Software Engineer,3-5 years,NaN,NaN,NaN,NaN,NaN,NaN,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0

In [22]:
drop_columns = list(kaggle2020.columns)[12:65]

In [23]:
kaggle2020.drop(columns=drop_columns,inplace=True)

In [24]:
kaggle2020.head()

,Age,Gender,Country,Education Level,Role,Programming Experience,ML Experience,Company Size,Company Data Scientists,Yearly Compensation,Spent Money (5years),Primary Tool,# of Languages,# of Visual tools,# of ML frameworks,# of ML algorithms
1,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,1-2 years,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G...",7,2,3,6
2,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,1-2 years,"10,000 or more employees",20+,"100,000-124,999","$100,000 or more ($USD)","Business intelligence software (Salesforce, Ta...",3,4,4,3
3,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,I do not use machine learning methods,"1000-9,999 employees",0,"15,000-19,999",$0 ($USD),"Basic statistical software (Microsoft Excel, G...",3,1,0,0
4,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,3-4 years,250-999 employees,5-9,"125,000-149,999","$10,000-$99,999","Local development environments (RStudio, Jupyt...",3,3,4,5
5,30-34,Man,Japan,Master’s degree,Software Engineer,3-5 years,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0

In [12]:
# kaggle2020.to_csv('Final_Data.csv', index=None)