In [53]:
import pandas as pd
import numpy as np
import pandas_profiling

#Import libs
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.ticker as mticker
%matplotlib inline

import seaborn as sns

import plotly.express as px
import plotly.graph_objects as go

print("Setup Complete")

Setup Complete

In [54]:
#Data Load
#-------------- Kaggle 2020 ---------------------
kaggle2020File = "2020_kaggle_survey_2020_responses.csv"
kaggle2020 = pd.read_csv(kaggle2020File, low_memory=False)
descriptions = kaggle2020.loc[0:1,:]
df = kaggle2020.loc[1:,:]

print('Data Loaded')
pd.set_option('display.max_columns', None)

Data Loaded

In [55]:
figtext_arg = dict(
            horizontalalignment='center',
            fontsize=12,
            wrap=True,
            alpha=0.65
)

In [56]:
columns = list(range(1,20))

In [57]:
columns += list(range(53,94))
columns += [107,108,118,119,243]

In [58]:
# columns

In [59]:
kaggle2020 = df.iloc[:,columns]

In [60]:
# kaggle2020.head()

In [61]:
# df.columns

In [62]:
## Data preparation 2020

#Single choice questions
single = ['Q1','Q2','Q3','Q4','Q5','Q6','Q15', 'Q20', 'Q21', 'Q24','Q25','Q38']

#Multiple choice questions
multi = ['Q7', 'Q14', 'Q16', 'Q17','Q23']

selected_columns = single

for m in multi:
    i = 1
    while True:
        qPart = (m+"_Part_"+str(i))
        if qPart not in kaggle2020.columns:
            break
        selected_columns.append(qPart)
        i = i+1
    if m+"_OTHER" in kaggle2020.columns:
        selected_columns.append(m+"_OTHER")

kaggle2020 = kaggle2020.loc[:,selected_columns]
kaggle2020.rename(
    columns={
        "Q1":"Age", 
        "Q2":"Gender", 
        "Q3":"Country", 
        "Q4":"Education Level", 
        "Q5":"Role", 
        "Q6":"Programming Experience", 
        "Q15":"ML Experience", 
        "Q20":"Company Size", 
        "Q21":"Company Data Scientists", 
        "Q24":"Yearly Compensation",
        "Q25":"Spent Money (5years)",
        "Q38":"Primary Tool"
    }, inplace=True)
#kaggle2020 = kaggle2020.loc[(kaggle2020.Role.isin(['Data Scientist','Student']))]
print("Kaggle 2020 data loaded")

Kaggle 2020 data loaded

In [63]:
# kaggle2020.to_csv('Data.csv', index=None)

## 원핫 인코딩

In [64]:
pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', 100)
# pd.Series(list(kaggle2020.columns))

In [65]:
def onehotEncoder(new_col_name, start, end):
    encode = pd.get_dummies(kaggle2020.iloc[:,start:end])

    kaggle2020[new_col_name] = encode.apply(sum, axis=1)

In [66]:
onehotEncoder('# of Languages', 12, 25)  #Number of available languages
onehotEncoder('# of Visual tools', 25, 37)  #Number of available Visualization tools
onehotEncoder('# of ML frameworks', 37, 53)  #Number of available ML frameworks
onehotEncoder('# of ML algorithms', 53, 65)  #Number of available ML algorithms

In [67]:
drop_columns = list(kaggle2020.columns)[12:65]

In [68]:
kaggle2020.drop(columns=drop_columns,inplace=True)

In [69]:
kaggle2020.head()

,Age,Gender,Country,Education Level,Role,Programming Experience,ML Experience,Company Size,Company Data Scientists,Yearly Compensation,Spent Money (5years),Primary Tool,# of Languages,# of Visual tools,# of ML frameworks,# of ML algorithms
1,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,1-2 years,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G...",7,2,3,6
2,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,1-2 years,"10,000 or more employees",20+,"100,000-124,999","$100,000 or more ($USD)","Business intelligence software (Salesforce, Ta...",3,4,4,3
3,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,I do not use machine learning methods,"1000-9,999 employees",0,"15,000-19,999",$0 ($USD),"Basic statistical software (Microsoft Excel, G...",3,1,0,0
4,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,3-4 years,250-999 employees,5-9,"125,000-149,999","$10,000-$99,999","Local development environments (RStudio, Jupyt...",3,3,4,5
5,30-34,Man,Japan,Master’s degree,Software Engineer,3-5 years,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0

In [70]:
for i in range(len(kaggle2020.columns)):
    print(kaggle2020.columns[i], ' : ', kaggle2020.iloc[:,i].unique())

Age  :  ['35-39' '30-34' '22-24' '25-29' '18-21' '55-59' '50-54' '40-44' '60-69'
 '45-49' '70+']
Gender  :  ['Man' 'Woman' 'Prefer to self-describe' 'Prefer not to say' 'Nonbinary']
Country  :  ['Colombia' 'United States of America' 'Argentina' 'Japan' 'India'
 'Brazil' 'China' 'Germany' 'Indonesia' 'Canada' 'Switzerland' 'Other'
 'Singapore' 'Russia' 'South Africa' 'Egypt' 'Netherlands' 'Pakistan'
 'Nepal' 'South Korea' 'Poland' 'Belarus' 'Tunisia' 'Ukraine' 'Belgium'
 'Saudi Arabia' 'Taiwan' 'Nigeria' 'Italy' 'Spain' 'United Arab Emirates'
 'Mexico' 'Viet Nam' 'Thailand'
 'United Kingdom of Great Britain and Northern Ireland' 'France' 'Ghana'
 'Ireland' 'Philippines' 'Morocco' 'Turkey' 'Iran, Islamic Republic of...'
 'Peru' 'Romania' 'Republic of Korea' 'Australia' 'Chile' 'Kenya' 'Sweden'
 'Bangladesh' 'Greece' 'Malaysia' 'Portugal' 'Israel' 'Sri Lanka']
Education Level  :  ['Doctoral degree' 'Master’s degree' 'Bachelor’s degree'
 'No formal education past high school'
 'Some college/university study without earning a bachelor’s degree'
 'Professional degree' 'I prefer not to answer' nan]
Role  :  ['Student' 'Data Engineer' 'Software Engineer' 'Data Scientist'
 'Data Analyst' 'Research Scientist' 'Other' 'Currently not employed'
 'Statistician' 'Product/Project Manager' 'Machine Learning Engineer' nan
 'Business Analyst' 'DBA/Database Engineer']
Programming Experience  :  ['5-10 years' '10-20 years' '3-5 years' '< 1 years' '1-2 years'
 '20+ years' 'I have never written code' nan]
ML Experience  :  ['1-2 years' 'I do not use machine learning methods' '3-4 years' nan
 'Under 1 year' '2-3 years' '4-5 years' '5-10 years' '20 or more years'
 '10-20 years']
Company Size  :  [nan '10,000 or more employees' '1000-9,999 employees' '250-999 employees'
 '0-49 employees' '50-249 employees']
Company Data Scientists  :  [nan '20+' '0' '5-9' '1-2' '3-4' '10-14' '15-19']
Yearly Compensation  :  [nan '100,000-124,999' '15,000-19,999' '125,000-149,999' '70,000-79,999'
 '30,000-39,999' '90,000-99,999' '1,000-1,999' '$0-999' '10,000-14,999'
 '150,000-199,999' '60,000-69,999' '4,000-4,999' '> $500,000'
 '300,000-500,000' '40,000-49,999' '25,000-29,999' '80,000-89,999'
 '7,500-9,999' '50,000-59,999' '250,000-299,999' '5,000-7,499'
 '2,000-2,999' '20,000-24,999' '200,000-249,999' '3,000-3,999']
Spent Money (5years)  :  [nan '$100,000 or more ($USD)' '$0 ($USD)' '$10,000-$99,999' '$1-$99'
 '$1000-$9,999' '$100-$999']
Primary Tool  :  ['Basic statistical software (Microsoft Excel, Google Sheets, etc.)'
 'Business intelligence software (Salesforce, Tableau, Spotfire, etc.)'
 'Local development environments (RStudio, JupyterLab, etc.)' nan
 'Cloud-based data software & APIs (AWS, GCP, Azure, etc.)'
 'Advanced statistical software (SPSS, SAS, etc.)' 'Other']
# of Languages  :  [ 7  3  1  2  5  4  0  6  8  9 10 12 11]
# of Visual tools  :  [ 2  4  1  3  0  5  6 10  7  9  8 11]
# of ML frameworks  :  [ 3  4  0  5  1  2  8  6  7  9 14 11 10 15 13]
# of ML algorithms  :  [ 6  3  0  5  4  1  2  9  7  8 10 11]

In [71]:
# kaggle2020.profile_report()

In [72]:
# kaggle2020.to_csv('Final_Data.csv', index=None)