In [37]:
import pandas as pd
import numpy as np
import pandas_profiling

#Import libs
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.ticker as mticker
%matplotlib inline

import seaborn as sns

import plotly.express as px
import plotly.graph_objects as go

print("Setup Complete")

Setup Complete

In [38]:
df = pd.read_csv('encoding.csv', index_col=0)

In [39]:
df.head()

,Age,Gender,Country,Education Level,Role,Programming Experience,ML Experience,Company Size,Company Data Scientists,Yearly Compensation,Spent Money (5years),Primary Tool,# of Languages,# of Visual tools,# of ML frameworks,# of ML algorithms
2,3,0,3,3.0,10.0,4.0,2.0,5.0,7.0,18.0,6.0,2.0,3,4,4,3
3,4,0,3,2.0,4.0,5.0,0.0,4.0,1.0,8.0,1.0,0.0,3,1,0,0
4,3,0,3,3.0,3.0,4.0,4.0,3.0,4.0,19.0,5.0,3.0,3,3,4,5
9,4,0,2,4.0,3.0,4.0,3.0,4.0,7.0,15.0,5.0,4.0,3,4,5,2
12,4,0,3,4.0,6.0,2.0,1.0,1.0,2.0,11.0,2.0,3.0,1,1,1,1

In [40]:
# df.corr()

In [41]:
# df.profile_report()

In [42]:
from sklearn.datasets import make_classification
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVR

In [43]:
# define dataset
X = df.drop(['Yearly Compensation'], axis=1)
y = df['Yearly Compensation']

In [44]:
X.shape

(10729, 15)

In [45]:
y.shape

(10729,)

In [49]:
estimator = SVR(kernel="linear")
rfe = RFE(estimator, n_features_to_select=4)

In [50]:
rfe.fit(X,y)

RFE(estimator=SVR(kernel='linear'), n_features_to_select=4)

In [51]:
for i in range(X.shape[1]):
    print('Column: %d, Selected=%s, Rank: %d' % (i, rfe.ranking_[i], rfe.support_[i]))

Column: 0, Selected=2, Rank: 0
Column: 1, Selected=4, Rank: 0
Column: 2, Selected=1, Rank: 1
Column: 3, Selected=11, Rank: 0
Column: 4, Selected=9, Rank: 0
Column: 5, Selected=1, Rank: 1
Column: 6, Selected=3, Rank: 0
Column: 7, Selected=1, Rank: 1
Column: 8, Selected=6, Rank: 0
Column: 9, Selected=1, Rank: 1
Column: 10, Selected=8, Rank: 0
Column: 11, Selected=5, Rank: 0
Column: 12, Selected=10, Rank: 0
Column: 13, Selected=12, Rank: 0
Column: 14, Selected=7, Rank: 0

In [28]:
pd.Series(df.columns)

0                         Age
1                      Gender
2                     Country
3             Education Level
4                        Role
5      Programming Experience
6               ML Experience
7                Company Size
8     Company Data Scientists
9         Yearly Compensation
10       Spent Money (5years)
11               Primary Tool
12             # of Languages
13          # of Visual tools
14         # of ML frameworks
15         # of ML algorithms
dtype: object

In [29]:
# Role, # of ```

In [34]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression

In [35]:
results = []
kf = KFold(n_splits=5)

for train_idx, test_idx in kf.split(X):
    
    X_train = X.iloc[train_idx, :]
    X_test = X.iloc[test_idx, :]
    y_train = y.iloc[train_idx]
    y_test = y.iloc[test_idx]
    
    scaler = StandardScaler()
    scaler.fit(X_train)
    X_train = pd.DataFrame(scaler.transform(X_train), index=X_train.index, columns=X_train.columns)
    X_test = pd.DataFrame(scaler.transform(X_test), index=X_test.index, columns=X_test.columns)
    
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    results.append(model.score(X_test, y_test))

In [36]:
results

[0.3946287025214187,
 0.3824527049153025,
 0.3898577793399538,
 0.3797771776442549,
 0.3684239292948184]